<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="RPG Application" />
    <meta name="keywords" content="RPG, tabletop" />
    <meta name="author" content="James Bridge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!-- Custom Style Sheets -->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Title of the page</title>
  </head>
  <body>
    <div class="navigation">
      <ul class="nav-left">
        <li><a href="#">RPG App</a></li>
      </ul>
      <ul class="nav-right">
        <li><a href="#">Characters</a></li>
        <li><a href="#">Places</a></li>
        <li><a href="#">Journal</a></li>
        <li><a href="#">Tools</a></li>
      </ul>
    </div>
  </body>
</html>
