<%- include("partials/header.ejs") -%>

<div class="journal-container">
    <div class="journal-nav">
        <h1>Entries</h1>
        <div class="journal-divder"></div>
        <ul>
            <li>
                <a class="journal-entry" href="#">Arrived in Rottfurt</a>
            </li>
        </ul>
        <div class="journal-divder"></div>
        <ul>
            <li>
                <a class="journal-entry" href="#">Meeting with Herman Ferg</a>
            </li>
        </ul>
        <div class="journal-divder"></div>
        <ul>
            <li>
                <a class="journal-entry" href="#">Underground Travels</a>
            </li>
        </ul>
        <div class="journal-divder"></div>
        <ul>
            <li>
                <a class="journal-entry" href="#">The Burnt Village</a>
            </li>
        </ul>
        <div class="journal-divder"></div>
        <ul>
            <li>
                <a class="journal-entry" href="#">Brayherds</a>
            </li>
        </ul>
        <div class="journal-divder"></div>
    </div>
    <div class="journal-body">
        <h1>Arrived in Rottfurt</h1>
        <div class="journal-paragraph">
            <p>Hogan is human warrior. He was born and raised in Rottfurt, growing up in the waterfront district. He earned his stripes running with Herman Furg’s “Waterboy” gang. After the bleak winter of 1217 Rottfurt was abandoned and Hogan travelled south with the other refugees. He soon found himself in Ayac City where he made a living as a street boxer. After some time he was picked up by some of the promoters and made his way into the cities arena. Three years of fights and a mighty winning streak set Hogan up for life. Today he lives in a sizable townhouse where enjoys the finer things in life.</p>
        </div>
        <div class="journal-paragraph">
            <p>Hogan is human warrior. He was born and raised in Rottfurt, growing up in the waterfront district. He earned his stripes running with Herman Furg’s “Waterboy” gang. After the bleak winter of 1217 Rottfurt was abandoned and Hogan travelled south with the other refugees. He soon found himself in Ayac City where he made a living as a street boxer. After some time he was picked up by some of the promoters and made his way into the cities arena. Three years of fights and a mighty winning streak set Hogan up for life. Today he lives in a sizable townhouse where enjoys the finer things in life.</p>
        </div>
        <div class="journal-paragraph">
            <p>Hogan is human warrior. He was born and raised in Rottfurt, growing up in the waterfront district. He earned his stripes running with Herman Furg’s “Waterboy” gang. After the bleak winter of 1217 Rottfurt was abandoned and Hogan travelled south with the other refugees. He soon found himself in Ayac City where he made a living as a street boxer. After some time he was picked up by some of the promoters and made his way into the cities arena. Three years of fights and a mighty winning streak set Hogan up for life. Today he lives in a sizable townhouse where enjoys the finer things in life.</p>
        </div>
    </div>
</div>



<%- include("partials/footer.ejs") -%>