/*============================ Head =================================================*/

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  background: rgb(221, 112, 9);
}

.nav-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  background: rgb(221, 112, 9);
}

.nav-right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: rgb(221, 112, 9);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: "Fondamento", cursive;
}

.navigation a:hover {
  background: rgb(255, 162, 75);
}

.brand {
  font-family: "Fondamento", cursive;
}

/* ================================ Body ===============================================*/

.container {
  padding: 4rem;
  display: flex;
}

.character-picture {
  height: 8rem;
  border-radius: 50%;
  border: 5px solid rgb(221, 112, 9);
  margin: 2rem;
  background-color: black;
}

.content-block {
  margin-right: 2rem;
}

h1,
h2 {
  font-family: "Fondamento", cursive;
}

p {
  text-align: justify;
}

.orange-divider {
  height: 0.2rem;
  margin: 1rem 4rem 1rem 4rem;
  background-color: rgb(221, 112, 9);
}

.top-padding {
  background-color: white;
  height: 3rem;
}

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 4rem;
}

.secondary-stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 4rem;
}

.stat-box {
  border: solid 0.2rem rgb(221, 112, 9);
  background: rgb(255, 162, 75);
  width: 6rem;
  height: 6rem;
  margin: 0px 2px 0px 2px;
}

.stat-name {
  font-family: "Fondamento", cursive;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.sec-name {
  font-family: "Fondamento", cursive;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1.5rem;
}

.stat-value {
  text-align: center;
  font-size: 3rem;
  margin-top: 2px;
}
/* ------------------------------------------------------- */

.skill-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 4rem;
}

.skill-box {
  margin: 0.2rem 1rem 0.2rem 1rem;
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-align: left;
}

.half-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lower-block {
  display: flex;
  flex-direction: row;
  justify-content: ;
}

#dragon-icon {
  width: 12rem;
}

/* -------------------------------------- */

.character-list {
  margin-left: 6rem;
}

.character-list-item {
  padding: 1rem;
}

.character-link {
  text-decoration: none;
  font-family: "Fondamento", cursive;
  font-size: 1.5rem;
  color: black;
}
